<h1>Your order</h1>

  <p>First name: <%= @pizza.first_name() %></p>
  <p>Last name: <%= @pizza.last_name() %></p>
  <p>Topping: <%= @pizza.topping() %></p>
  <p>Quantity: <%= @pizza.quantity() %></p>
<form action="/pizzas/<%= @pizza.id%>/delete" method="POST">
  <input type="submit" value="Delete Order">
</form>
<form action="/pizzas/<%= @pizza.id%>/edit">
    <input type="submit" value="Edit Order" />
</form>
